<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - Cantice</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<body class="gradient-background-animated">
    <div id="header-container"></div>

    {{ content }}

    <footer>
        <div class="footer-content">
            <p>&copy; 2025 Cantice. All rights reserved.</p>
        </div>
    </footer>

    <script src="{{ '/main.js' | relative_url }}"></script>
</body>
</html>
